<div class="skeleton-music-home">
    <div class="item1 animate-pulse">
        <div class="img">

        </div>
        <div class="head">

        </div>
    </div>
    <div class="item2 animate-pulse">
        <div class="img">

        </div>
        <div class="head">

        </div>
    </div>
    <div class="item3 animate-pulse">
        <div class="img">

        </div>
        <div class="head">

        </div>
    </div>
    <div class="item4 animate-pulse">
        <div class="img">

        </div>
        <div class="head">

        </div>
    </div>
    <div class="item5 animate-pulse">
        <div class="img">

        </div>
        <div class="head">

        </div>
    </div>
</div>
