<section id="music-list">
    <ul class="list">
      <li>
        <a  class="card" >
            <div class="img rounded-b-none rounded-t-md animate-pulse"></div>
            <header class="rounded-t-none rounded-b-md animate-pulse">
           
            </header>
        </a>
      </li>
      <li>
        <a  class="card" >
            <div class="img rounded-b-none rounded-t-md animate-pulse"></div>
            <header class="rounded-t-none rounded-b-md animate-pulse">
           
            </header>
        </a>
      </li>
      <li>
        <a  class="card" >
            <div class="img rounded-b-none rounded-t-md animate-pulse"></div>
            <header class="rounded-t-none rounded-b-md animate-pulse">
           
            </header>
        </a>
      </li>
      <li>
        <a  class="card" >
            <div class="img rounded-b-none rounded-t-md animate-pulse"></div>
            <header class="rounded-t-none rounded-b-md animate-pulse">
           
            </header>
        </a>
      </li>
    </ul>

  </section>