<div class="recommended">
    <ul>
      <a >
        <li>
          <div class="album-recommended animate-pulse"></div>
          <div class="info-recommended animate-pulse">
        
          </div>
        </li>
        <li>
          <div class="album-recommended animate-pulse"></div>
          <div class="info-recommended animate-pulse">
        
          </div>
        </li>
        <li>
          <div class="album-recommended animate-pulse"></div>
          <div class="info-recommended animate-pulse">
        
          </div>
        </li>
        <li>
          <div class="album-recommended animate-pulse"></div>
          <div class="info-recommended animate-pulse">
        
          </div>
        </li>
        <li>
          <div class="album-recommended animate-pulse"></div>
          <div class="info-recommended animate-pulse">
        
          </div>
        </li>
        
      </a>
    </ul>
  </div>
