nav{
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image: linear-gradient(45deg, rgb(10, 1, 1), rgba(0, 4, 255, 0.836), rgb(2, 2, 61)) 1;
}
.active {
  background: rgba(20, 72, 216, 0.651);
  border-radius: 20px;
  padding: 6px;
  transform: scale(1.1);
  border-color: rgba(64, 64, 212, 0.589);
  border-bottom: 2px solid;
}
.active-small-screen {
  background: rgba(20, 72, 216, 0.651);
  border-radius: 5px;
  padding: 6px;
  border-color: rgba(64, 64, 212, 0.589);
  border-bottom: 2px solid;
}
