<body class="bg-gray-500 m-10">
  <div class=" text-gray-800 text-lg p-2">
    <form  class="m-2"  [formGroup]="contactForm" (ngSubmit)="onFormSubmit()" novalidate>
        <div class="text-gray-800 text-xl py-2 flex row-auto justify-between gap-2 items-center">
          <label class="text-black/80 font-semibold " for="sizeGame"> Tamaño: </label>
          <input id="sizeGame" type="text" name="sizeGame" formControlName="sizeGame" placeholder="Ingrese el tamaño (en gigabytes)"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
          <div *ngIf="contactForm.controls['sizeGame'].invalid && (contactForm.controls['sizeGame'].dirty || contactForm.controls['sizeGame'].touched)"
          class="alert alert-danger font-bold text-red-900/90 ">
            <div class="absolute">
              <div class="w-max p-2 rounded-md bg-slate-300 border-2 border-solid border-red-600" *ngIf="contactForm.controls['sizeGame'].errors?.['maxlength']">
                Superó el limite de caracteres permitidos(5).
              </div>
              <div class="w-max p-2 rounded-md bg-slate-300 border-2 border-solid border-red-600 alert alert-danger font-bold"  *ngIf="contactForm.get('sizeGame')?.hasError('numbersOnly')">
                Este campo solo debe contener números.
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-800 text-xl py-2 flex row-auto justify-between gap-2 items-center">
          <label class="text-black/80 font-semibold " for="ramGame"> RAM: </label>
          <input id="ramGame" type="text" name="ramGame" formControlName="ramGame" placeholder="Ingrese la RAM"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
          <div *ngIf="contactForm.controls['ramGame'].invalid && (contactForm.controls['ramGame'].dirty || contactForm.controls['ramGame'].touched)" class="alert alert-danger font-bold text-red-900/90 ">
            <div class="absolute">
              <div class="w-max p-2 rounded-md bg-slate-300 border-2 border-solid border-red-600 alert alert-danger font-bold" *ngIf="contactForm.get('ramGame')?.hasError('numbersOnly')" >
                Este campo solo debe contener números.
              </div>
              <div class="w-max p-2 rounded-md bg-slate-300 border-2 border-solid border-red-600" *ngIf="contactForm.controls['ramGame'].errors?.['maxlength']">
                Superó el limite de caracteres permitidos(3). <mat-icon class="material-symbols-outlined -mb-1"> warning </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-800 text-xl py-2 flex row-auto justify-between gap-2 items-center">
          <label class="text-black/80 font-semibold " for="processorGame"> Procesador: </label>
          <input id="processorGame" type="text" name="processorGame" formControlName="processorGame" placeholder="Ingrese el procesador" class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
          <div *ngIf="contactForm.controls['processorGame'].invalid && (contactForm.controls['processorGame'].dirty || contactForm.controls['processorGame'].touched)"
          class="alert alert-danger font-bold text-red-900/90 ">
            <div class="absolute">
              <div class="w-max p-2 rounded-md bg-slate-300 border-2 border-solid border-red-600" *ngIf="contactForm.controls['processorGame'].errors?.['maxlength']">
                Superó el limite de caracteres permitidos(200). <mat-icon class="material-symbols-outlined -mb-1"> warning </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="text-gray-800 text-xl py-2 flex row-auto justify-between gap-2 items-center">
          <label class="text-black/80 font-semibold " for="graphGame"> Grafica: </label>
          <input id="graphGame" type="text" name="graphGame" formControlName="graphGame" placeholder="Ingrese la grafica minima"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
          <div *ngIf="contactForm.controls['graphGame'].invalid && (contactForm.controls['graphGame'].dirty || contactForm.controls['graphGame'].touched)" class="alert alert-danger font-bold text-red-900/90 ">
            <div class="absolute">
              <div class="w-max p-2 rounded-md bg-slate-300 border-2 border-solid border-red-600" *ngIf="contactForm.controls['graphGame'].errors?.['maxlength']">
                Superó el limite de caracteres permitidos(200). <mat-icon class="material-symbols-outlined -mb-1"> warning </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <!-- <span *ngIf="errorResponseMessageForm" class="text-lg z-100 font-semibold  ml-0 text-red-800/80" >
          <mat-icon class="material-symbols-outlined -mb-1.5 ">error</mat-icon>  {{ errorResponseMessageForm }}
        </span> -->
        <div class="flex justify-end mr-24 mt-4 ">
          <button type="submit"  class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-[#006186] rounded-md hover:bg-blue-600">Guardar</button>
        </div>
    </form>

  </div>
</body>
