<body>
  <app-header></app-header>

  <app-loading-screen  *ngIf="isLoading" ></app-loading-screen>


  <div *ngIf="gameDetails$ | async as gameDetails" [style.background-image]="'url(' + imageUrl + gameDetails.gameImg + ')'"  class=" absolute top-0 w-full h-auto bg-center bg-cover object-cover ">

    <span  class="w-full h-full absolute opacity-60 bg-black"></span>
    <!-- style="clip-path:polygon(0 100%, 100% 100%, 100% 80%, 0 80%);" -->

    <div class="flex justify-center relative mt-36 bg-slate-400/30 m-auto h-auto w-auto" >

      <div class="h-auto w-1/4 relative max-sm:w-3/6" >
        <button  (click)="openModalImg()" *ngIf="isAdmin"
        aria-label="Boton para actualizar imagen de perfil"
        class="blur-editing absolute left-4 top-12 backdrop-blur-sm w-auto h-auto z-20 text-gray-500  ">
        <mat-icon class="h-20 w-20 fixed bottom-5 rounded-lg bg-black/60 hover:bg-black max-sm:bottom-2 left-1/2 transform -translate-x-1/2  blur-none hover:scale-150 hover:transition-transform text-blue-400">brush</mat-icon>
        </button>
        <img class="object-cover h-full w-full rounded-lg" [src]="imageUrl + gameDetails.gameImg" alt="{{ gameDetails.gameName }} ">

      </div>

      <div *ngIf="isEditingImg"  class="rounded-md fixed inset-0  flex flex-col items-center justify-center min-w-full min-h-full  bg-black/50 mb-4 z-50 p-4">
        <div class="rounded-md fixed flex flex-col items-center justify-center w-max h-max m-auto max-sm:w-[80%] bg-slate-200 mb-4 z-50 p-4">
          <div class="relative top-4">
            <label class="text-black/80 font-semibold " for="userImg">
              Sube la Portada del juego:
              <br>
            </label>
            <p class="text-sm font-semibold ml-2 text-slate-900/80  w-10/12  ">(Nota: Si copias la imagen y no se sube, te recomendamos subirla directamente desde tu computadora)</p>

            <!-- <span *ngIf="errorResponseMessage" class="text-lg z-100 font-semibold  ml-0 text-red-800/80" >
              {{ errorResponseMessage }} <mat-icon class="material-symbols-outlined -mb-1"> warning </mat-icon>
            </span> -->
            <input type="file" name="userImg" accept=".jpg,.png" id="fileInput"
            (change)="onFileSelectedGame($event)"
              class="block w-full px-6 py-2 mt-2 mb-8 rounded-md shadow-md hover:shadow-lg text-black bg-white border focus:border-blue-40" required/>
          </div>

          <div class="flex space-x-4">
            <button (click)="updatedGameImg(this.selectedFile!)" tabindex="0" aria-label="Botón para guardar nueva URL"
              class="flex-grow px-4 py-2 text-white bg-[#006186] transition-colors rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
              Guardar
            </button>
            <button (click)="cancelEditImg()" tabindex="0"
              class="flex-grow px-4 py-2 text-white bg-gray-500 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">
              Cancelar
            </button>
          </div>
        </div>
      </div>

      <div class="sm:w-auto md:w-3/5 lg:w-3/5 xl:w-3/5 pl-6 p-6 max-w-[70%]  bg-slate-400/80 rounded-sm relative">
        <h1 class="text-3xl lg:text-6xl font-bold py-6">{{ gameDetails.gameName }}</h1>
        <div class="game-description  text-gray-800 text-lg p-2">
          <p *ngIf="gameDetails.descriptionGame; else defaultText">{{gameDetails.descriptionGame}}   </p>
          <ng-template #defaultText>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sed omnis, fugit delectus commodi corporis reprehenderit modi
            velit hic atque porro sint corrupti officia suscipit fugiat quis illum saepe et in.
          </ng-template>
        </div>
        <!-- <p class="text-gray-800 text-2xl py-2">{{ gameDetails.platform }}</p> -->
        <p class="text-gray-800 text-2xl py-2">Desarrollador: <span class="font-semibold">{{ gameDetails.developer }}</span> </p>
        <p class="text-gray-800 text-xl py-2"> Fecha:<span class="font-semibold"> {{ gameDetails.releaseDate | date: 'yyyy-MM-dd'}}</span> </p>
        <p class="text-gray-800 text-2xl py-2">Genero: <span class="font-semibold">{{ gameDetails.genre }}</span> </p>
        <p class=" font-semibold text-gray-700 dark:text-gray-400 py-10">
          <span class= " inline-block bg-blue-100/50 text-blue-800 text-3xl font-semibold mr-2 px-2 py-2 rounded dark:bg-blue-200 dark:text-blue-800 ">
            {{ gameDetails.averageRating }}
          </span>
          <svg class="w-10 h-10 inline-block text-yellow-300 mr-1 -mt-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
          </svg>
        </p>

        <div class="absolute top-0 right-0 bg-black/20">
          <button (click)="backVideogames()" class="p-2 w-10 h-10 text-white transition-colors duration-300 transform  hover:bg-gray-900/50 focus:outline-none focus:bg-gray-600">
            <mat-icon class="w-6 h-6 text-black">undo</mat-icon>
          </button>
          <button *ngIf="isAdmin" (click)="openModal()" class="p-2 w-10 h-10  text-white transition-colors duration-300 transform hover:bg-gray-900/50 focus:outline-none focus:bg-gray-600">
            <mat-icon class="w-6 h-6 text-black">edit_square</mat-icon>
          </button>
          <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-50" *ngIf="isModalVisible">
            <div class="fixed top-0 left-0 w-full h-full bg-black/70"></div>
            <div class="bg-white p-4 rounded-lg shadow-lg z-10 max-h-[80vh] overflow-y-auto">
              <app-edit-videogame  [game]="gameDetails"></app-edit-videogame>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex row-auto justify-evenly bg-slate-400/10 m-auto w-auto mt-2 mb-24" >
      <div class=" flex row-auto justify-start gap-40 w-auto pl-6 p-6 text-center  bg-slate-400/80 rounded-sm relative">
        <div class=" text-gray-800 text-lg p-2 mb-14">
          <header class="relative">
            <h2 class="text-4xl font-bold py-6"> Requisitos mínimos:</h2>
            <button *ngIf="isAdmin" type="submit" arial-label="Boton para subir un videojuego"
            class="absolute top-6 -right-4 flex flex-row items-center justify-evenly text-white bg-[#2929297e] transition-colors h-fit w-fit p-2 rounded-lg shadow text-md sm:text-sm hover:bg-[#292929a4]"
            (click)="openModalRequirements()">
                <mat-icon class="w-6 h-6 text-black">add_box</mat-icon>
            </button>
          </header>



          <ul class="text-start bg-gray-500 p-8" *ngIf="!isModalVisibleRequiriments" >
            <li class="text-gray-800 text-2xl py-2">Plataformas: <span class="font-semibold">{{ gameDetails.platform }}</span></li>
            <li class="text-gray-800 text-2xl py-2">Tamaño: <span class="font-semibold">68.89 GBs</span></li>
            <li class="text-gray-800 text-2xl py-2">RAM: <span class="font-semibold">8 - 10 Gbs </span></li>
            <li class="text-gray-800 text-2xl py-2">Procesador: <span class="font-semibold">Intel core i3 3.1 ghz</span></li>
            <li class="text-gray-800 text-2xl py-2">Grafica: <span class="font-semibold">Intel UHD Graphics 630 </span></li>
          </ul>
          <div *ngIf="isModalVisibleRequiriments" class=" text-gray-800 text-lg p-2  w-auto">
            <app-add-requirements></app-add-requirements>
          </div>
        </div>


        <div class="m-auto z-20 w-auto mt-0 mr-2 " >
          <h2 class="text-4xl font-bold py-6"> Trailer {{ gameDetails.gameName}}</h2>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KbEvj12Z3js" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</body>
