
<body class="bg-gray-300 min-h-screen mt-10">
    <app-header></app-header>
    <h1 class="text-center pt-10 mb-4 font-extrabold text-gray-900 dark:text-white sm:text-3xl md:text-4xl lg:text-5xl text-transparent bg-clip-text  bg-gradient-to-br to-cyan-d via-purple-d  from-redpink-d" >¡BIENVENID@!</h1>
    <h1>details primer game</h1>
    <div *ngIf="gameDetails$ | async as gameDetails">
      <h2>{{ gameDetails.gameName }}</h2>
      <p>{{ gameDetails.developer }}</p>
      <img [src]="gameDetails.gameImg" alt="">
      <!-- Otros detalles del juego -->
    </div>

</body>
