body {
  height: fit-content;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
svg {
  width: 40vh;
  height: 55vh;
  top: 0vh;
  left: 50vh;
}
.message-box {
  height: fit-content;
  width: fit-content;
  padding-right: 20px;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}
.message-box>h1{
  font-size: calc(5vh + 10vw);
  font-weight: 900;
  color: #27398a;
}
.message-box>p{
  background-color: #f73c3c;
  position: relative;
  top: 10rem;
  left: 6rem;
  padding: 4px;
  width: fit-content;
  font-size: calc(1.5vh + 0.8vw);
  border-radius: 10px;
  transform: rotate(-15deg);
}
.buttons-con  {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s;
}
#Polygon-3 {
  animation-delay: .4s;
}
#Polygon-4 {
  animation-delay: .6s;
}
#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
/* Media queryes */
@media (max-width: 1268px) {
  .message-box>p{
    top: 6rem;
    left: 4rem;
  }
}
@media (max-width: 768px) {
  body {
    height: fit-content;
  }
  svg {
    width: 30vh;
    height: 45vh;
  }
}


