<router-outlet *ngIf="showDetails"></router-outlet>

<body   *ngIf="hideList" class=" bg-[#9193a380] min-h-screen h-auto mt-10"  >
  <h1 class="pt-14 text-center mb-4 font-extrabold text-gray-900 sm:text-3xl md:text-4xl lg:text-5xl text-transparent bg-clip-text bg-gradient-to-r to-slate-900 from-sky-800" >Últimas publicaciones</h1>
  <hr class="w-48 h-1 mx-auto bg-gray-400 border-0 rounded my-4">

  <div>
    <div class="flex flex-col">
      <app-header-search [games]="games" (searchValueChanged)="onSearchValueChanged($event)"></app-header-search>

      <ng-container *ngIf="loadingData">
        <app-skeleton-videogames></app-skeleton-videogames>
      </ng-container>
      <div *ngIf="notResultsOne || notResultsTwo">
       <app-no-results></app-no-results>
      </div>

      <ul class="container-list">
        <li *ngFor="let game of filteredGames | paginate: { itemsPerPage: 15, currentPage: page }" class="container-target">

          <header>
            <div class="container-popover">
              <button  (click)="showPopoverMouseEnter(game)" (mouseenter)="showPopoverMouseEnter(game)" (mouseleave)="hidePopoverMouseLeave(game)" class="popover z-10 bg-black bg-opacity-30 text-white p-1 rounded-xl" type="button"  aria-label="Información del juego" >
                <mat-icon class="w-5 h-5 transition-transform group-hover:rotate-45">info</mat-icon>
              </button>
              <div *ngIf="game.showPopover" role="tooltip" class=" flex flex-col items-start absolute top-10 left-0 z-10 w-64 text-sm text-gray-700 transition-opacity duration-300">
                <div class="px-3 py-2 bg-gray-400 w-max rounded-md ">
                    <span class="font-semibold text-gray-90">Información extra</span>
                </div>
                <div class="px-3 py-2 bg-gray-200 rounded-lg rounded-t-md text-xs">
                  <p class="mb-1 text-gray-800 font-semibold">Plataformas: <span class="font-normal">{{ game.platform }}</span> </p>
                  <p class="mb-1 text-gray-800 font-semibold">Desarrollador: <span class="font-normal">{{ game.developer }}</span> </p>
                  <p class="mb-1 text-gray-800 font-semibold">Fecha de Lanzamiento: <span class="font-normal">{{ game.releaseDate | date:'yyyy-MM-dd' }}</span> </p>
                </div>
                <div data-popper-arrow></div>
              </div>
            </div>
            <button *ngIf="isAdmin" (click)="deleteGame(game._id)" class=" z-10  w-12 h-10  bg-black bg-opacity-50 px-2 py-2 rounded-tl-lg  rounded-bl-lg"  aria-label="Eliminar el juego">
              <mat-icon class=" text-red-600 hover:scale-150">delete</mat-icon>
            </button>
          </header>

          <a [routerLink]="['details-game',game._id]" (click)="detectStateRoute()">
            <div class="card ">
              <div class="wrapper">
                <img loading="lazy" [src]="imageUrl + game.gameImg" alt="{{ game.gameName }}" class="cover-image ">

                <div class="absolute top-0 left-0 m-2 bg-black bg-opacity-50 text-white p-2 rounded">
                  {{ game.genre }}
                </div>
              </div>
              <div class="character shadow-lg p-2 hover:shadow-sm  hover:bg-white/85">
                <img src="../../../../../assets/img/videogames/mago.webp" class="character-img" alt="Mago"/>

                <div class="game-card-description mb-2">
                  <p *ngIf="game.descriptionGame; else defaultText">{{game.descriptionGame}}</p>
                  <ng-template #defaultText>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sed omnis, fugit delectus commodi corporis reprehenderit modi
                    velit hic atque porro sint corrupti officia suscipit fugiat quis illum saepe et in.
                  </ng-template>
                </div>

              </div>

              <h2 class="title">{{ game.gameName }}</h2>
            </div>
          </a>
        </li>
      </ul>

      <pagination-controls class="pagination m-auto mt-0 mb-16" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>

      <div class="z-40 flex-3 ml-4 flex-wrap justify-center gap-4 flex-grow items-center">
        <div class="fixed top-56 max-sm:top-48 xl:right-16 lg:right-16 md:right-4 sm:right-2 ">
          <div class="mb-4 z-50">
            <app-videogames-filter></app-videogames-filter>
          </div>
          <button *ngIf="isAdmin" type="button" arial-label="Boton para subir un videojuego"
              class="add-game text-white bg-blue-700 border-blue-950 border-b-4 hover:border-b-2  transition-colors h-12 w-12 sm:w-12 sm:h-12 md:w-12 md:h-12 lg:w-12 xl:w-12  rounded-lg shadow text-md sm:text-sm hover:bg-[#006186] focus:ring-blue-300 focus:outline-none"
              (click)="openModal()">
              <div class="flex flex-row items-center justify-evenly">
                <mat-icon>add</mat-icon>
              </div>
          </button>
          <div class="fixed top-0 left-0 w-full h-full flex items-center justify-center" *ngIf="isModalVisible">
            <div class="fixed top-0 left-0 w-full h-full bg-black/70"></div>
            <div class="modal-add-videogame bg-white p-4 rounded-lg shadow-lg z-30 max-h-[80vh] overflow-y-auto">
              <app-add-videogame></app-add-videogame>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
