/* body{
  background-image: radial-gradient(#203462 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);

} */

.pagination ::ng-deep
.ngx-pagination
.current{
  background: rgba(1, 59, 250, 0.842);
  border-radius: 10px;
  box-shadow: 1px 5px 5px black;
}
.ngx-pagination li.current,
.pagination ::ng-deep .ngx-pagination li a:hover {
  background: rgba(1, 59, 250, 0.411);
  border-radius: 10px;
  box-shadow: 1px 5px 5px black;
}

.container-list{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  gap: 0rem 2rem;
  align-items: center;
  margin: 2rem 0rem 0rem 2rem ;
}
.container-target{
  position: relative;
  width: auto;
  height: auto;
  margin: 10% 0 0% 0;
}
.card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30vh;
  perspective: 2500px;
  border-radius: 10px;
  margin: 10% 0 0% 0;
  padding:44% 0% 24% 0%;
}
.cover-image {
  width: 30vh;
  height: 40vh;
  min-height: 40vh;
  max-height: 40vh;
  border-radius: 10px;
}
.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 20px;

}
.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  border-radius: 20px;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}
.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 80%;
  position: absolute;
  transition: transform 0.5s;
  font-family: "Creepster";
  font-size: calc(1em + 0.9vw);
  text-align: center;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #1e9ce6, #4800f0);
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  width: 95%;
}
.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
.game-card-description,
.game-card-description > p {
  font-size: small;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.container-popover{
  position: relative;
}
/* Media querys */
@media( max-width: 1688px ) {
  .container-list{
    width: 95%;
    margin: 4rem 0rem 0rem 4rem ;
    gap: 2rem;
  }
  .container-popover>.popover{
    /* background-color: red; */
    position: absolute;
    top: -220px;
  }
}
@media( max-width: 1288px ) {
  .container-list{
    margin: 5rem 0rem 0rem 1.5rem;
    gap: 2rem;
  }
}
@media( max-width: 1022px ) {
  .container-list{
    margin:  7rem 0rem 0rem 2rem ;
    gap: 4rem 2rem;
  }
}
@media( max-width: 768px ) {
  .container-list{
    width: 94%;
    margin: 8rem 0rem 0rem 2rem;
    gap: 5rem 2rem;
  }
}
@media( max-width: 596px ) {
  .container-list{
    justify-content: center;
    margin: 10rem auto 0rem auto ;
    gap: 7rem;
  }
}

/* .container{
  background-color: #1e9ce6;
  margin: 0rem 0rem 0rem 1rem ;
} */
