<body class="bg-gray-200">

  <h1>Ultimas publicaciones</h1>
  <div class="container">
    <ul>
      <li *ngFor="let game of games">
        <div class="game-card">
          <img [src]="game.gameImg" alt="{{ game.gameName }}" />
          <h2>{{ game.gameName }}</h2>
          <p>Plataforma: {{ game.platform }}</p>
          <p>Fecha de Lanzamiento: {{ game.releaseDate | date }}</p>
          <p>Desarrollador: {{ game.developer }}</p>
          <p>Género: {{ game.genre }}</p>
          <p>Calificación: {{ game.averageRating }}</p>
        </div>
      </li>
    </ul>
  </div>
</body>
