
<div id="container" *ngIf="showModalWarning">
  <div class="container-inner">
    <div class="content">
      <p>¡AVISO!</p>
      <p >Este sitio web es de practica, la api no tiene disponibilidad 24/7. <br>
        La primera vez que se cargue la información puede tardar aproximadamente 15-30 segundos.
     </p>
    </div>
    <div class="buttons">
      <button type="button" class="confirm" (click)="toggleModalWarning()" >Entendido</button>
      <!-- <button type="button" class="cancel">Me lo pela</button> -->
    </div>
  </div>
</div>
