<body class="w-full min-h-full  bg-slate-400/50">
  <div class="pyramid-loader ">
    <div class="wrapper">
      <span class="side side1"></span>
      <span class="side side2"></span>
      <span class="side side3"></span>
      <span class="side side4"></span>
      <span class="shadow"></span>
    </div>
  </div>
  <p class="text-center text-5xl font-bold text-logo-black">Cargando<span class="loading-dot-one"></span><span class="loading-dot-two"></span><span class="loading-dot-three"></span></p>


</body>

