<body>
  <section class="relative max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md ">

    <div class="flex items-center justify-between  mt-6">
      <h2 class="text-lg font-semibold text-black capitalize" tabindex="0"
      aria-label="Formulario para actualizar mis datos">Ingresa los datos del juego</h2>
      <button (click)="closeModal()" class="p-2 w-10 h-10 text-white transition-colors duration-300 transform rounded-full hover:bg-gray-900/50 focus:outline-none focus:bg-gray-600">

        <mat-icon class="w-6 h-6 text-black">close</mat-icon>
      </button>

    </div>

    <form class="mt-12"  [formGroup]="contactForm"  (ngSubmit)="onFormSubmit()">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

        <div class="relative">
          <label class="text-black " for="gameName">
            gameName</label>
          <input id="gameName" type="text" name="gameName" formControlName="gameName" placeholder="Inserte sus nombres"
            class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            required>
          <div *ngIf="contactForm.controls['gameName'].invalid && (contactForm.controls['gameName'].dirty || contactForm.controls['gameName'].touched)"
            class="alert alert-danger font-bold ">
            <div *ngIf="contactForm.controls['gameName'].errors?.['required']">
              Este campo es requerido.
            </div>
            <div *ngIf="contactForm.controls['gameName'].errors?.['pattern']" class="alert alert-danger font-bold">
              Este campo no admite caracteres especiales.
            </div>
          </div>
        </div>


        <div class="relative">
          <label class="text-black" for="gameImg">
            gameImg
          </label>
          <!-- <input id="gameImg" name=" gameImg" formControlName="gameImg" type="text"
            placeholder="Inserte su  gameImg"
            class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring"> -->
            <input type="file" name="gameImg" accept=".jpg,.png" id="fileInput"
             (change)="onFileSelected($event)"
             class="block w-full px-4 py-2 mt-2 text-black bg-white border focus:border-blue-40"/>
            <!-- <button >Subir archivo</button> -->
              <p>Upload Percent: {{percentDone}}% </p> <br />

              <ng-container *ngIf="uploadSuccess" class="success">
                <p class="sucess">Upload Successful</p>
              </ng-container>

        </div>

        <div class="relative">
          <label class="text-black" for=" platform">
            platform
          </label>
          <input id="platform" name="platform" formControlName="platform" type="text"
            placeholder="Inserte sus platform"
            class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring">

            <div *ngIf="contactForm.controls['platform'].invalid && (contactForm.controls['platform'].dirty || contactForm.controls['platform'].touched)"
              class="alert alert-danger font-bold ">
              <div *ngIf="contactForm.controls['platform'].errors?.['pattern']" class="alert alert-danger font-bold ">
                Este campo no admite caracteres especiales.
              </div>
            </div>
        </div>

        <div class="relative">
          <label class="text-black " for="releaseDate">releaseDate
          </label>
          <input id="releaseDate" type="date" name="releaseDate" formControlName="releaseDate"
          class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md  focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring"/>
        </div>

        <div class="relative">
          <label class="text-black " for="developer">
            developer
          </label>
          <input id="developer" name="developer" formControlName="developer"
            placeholder="Inserte su número de developer"
            class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md   focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring">

            <div *ngIf="contactForm.controls['developer'].invalid && (contactForm.controls['developer'].dirty || contactForm.controls['developer'].touched)"
              class="alert alert-danger font-bold ">
              <div *ngIf="contactForm.controls['developer'].errors?.['pattern']" class="alert alert-danger font-bold ">
                Este campo no admite caracteres especiales.
              </div>
            </div>
        </div>

        <div class="relative">
          <label class="text-black " for="genre">
            genre
          </label>
          <input id="genre" name="genre" formControlName="genre" placeholder="genre"
            class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md  focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring">
          <div *ngIf="contactForm.controls['genre'].invalid && (contactForm.controls['genre'].dirty || contactForm.controls['genre'].touched)"
            class="alert alert-danger font-bold ">
            <div *ngIf="contactForm.controls['genre'].errors?.['pattern']" class="alert alert-danger font-bold ">
              Este campo no admite caracteres especiales.
            </div>
          </div>
        </div>



        <div class="relative ">
          <label class="text-black " for="descriptionGame">
            descriptionGame
          </label>
          <input type="text" id="descriptionGame" name="descriptionGame" formControlName="descriptionGame"
            placeholder="Ingrese  descriptionGame"
            class="block w-full px-4 py-6 mt-2 text-black bg-white border border-black rounded-md  focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring">
          <div *ngIf="contactForm.controls['descriptionGame'].invalid && (contactForm.controls['descriptionGame'].dirty || contactForm.controls['descriptionGame'].touched)"
            class="alert alert-danger font-bold ">
            <div *ngIf="contactForm.controls['descriptionGame'].errors?.['pattern']" class="alert alert-danger font-bold ">
              Este campo no admite caracteres especiales.
            </div>
          </div>
        </div>

        <div class="relative">
          <label class="text-black " for="averageRating">averageRating
          </label>
          <input id="averageRating" type="number" name="averageRating" formControlName="averageRating" placeholder="Ingrese su averageRating"
            class="block w-full px-4 py-2 mt-2 text-black bg-white border border-black rounded-md  focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40  focus:outline-none focus:ring">
        </div>

          <div *ngIf="contactForm.get('averageRating')?.touched && contactForm.get('averageRating')?.errors?.['minlength']"
          class="alert alert-danger font-bold">Este campo debe tener minimo 1
          {{contactForm.get('averageRating')?.errors?.['minlength'].requiredlength}} digito.</div>
          <div *ngIf="contactForm.get('averageRating')?.touched && contactForm.get('averageRating')?.errors?.['maxlength']"
          class="alert alert-danger font-bold">Este campo debe tener maximo 2
          {{contactForm.get('averageRating')?.errors?.['maxlength'].requiredlength}} digitos.</div>
      </div>

      <div class="flex justify-end mt-6">
        <button type="submit"
          class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-[#006186] rounded-md hover:bg-blue-600 focus:outline-none focus:bg-gray-600">Guardar</button>
      </div>
    </form>
  </section>
</body>

