/* body{
  background-image: radial-gradient(#203462 2px, transparent 2px);
  background-size: calc(10 * 2px) calc(10 * 2px);

} */

.name-game {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.game-card-description,
.game-card-description > p {
  font-size: small;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.pagination::ng-deep
.ngx-pagination
.current{
  background: rgba(31, 31, 41, 0.842);
}
