.name-game {
  max-height: 100px; /* Altura máxima de la descripción */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si se corta el texto */
  white-space: nowrap; /* Evita saltos de línea */
}


.game-card-description,
.game-card-description > p {
  font-size: small;
  max-height: 100px; /* Altura máxima de la descripción */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si se corta el texto */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas a mostrar antes del recorte */
  -webkit-box-orient: vertical;
  white-space: normal;
}
