
.slider-home{
 width: 100vh;
 height: 55vh;
 margin: 0 auto;
}

@media screen and (max-width: 1050px) {
  .slider-home{
    width: 80vh;
    height: 40vh;
    margin: 0 auto;
  }

}

@media screen and (max-width:768px) {
  .slider-home{
    width: 50vh;
    height: 25vh;
    margin: 0 auto;
  }

   .containerImages {
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
    gap:20%;
  }

}
@media screen and (max-width: 450px) {
  .slider-home{
    width: 30vh;
    height: 20vh;
    margin: 0 auto;
  }

   .containerImages {
    margin-top:20%;
    flex-wrap: wrap;
    width: 90%;
    gap:10%;
  }

  .containerImage {
    padding-bottom: 0px;
    margin-top: 1rem;
  }

}
@media screen and (max-width: 350px) {
  .slider-home{
    width: 25vh;
    height: 15vh;
    margin: 0 auto;
   }
}
