
<body class="bg-gray-300 min-h-screen max-h-screen h-auto">
  <app-header></app-header>
  <h1 class="text-center  mt-10 pt-12 pb-8 font-extrabold text-gray-900 dark:text-white sm:text-3xl md:text-4xl lg:text-5xl text-transparent bg-clip-text  bg-gradient-to-br to-cyan-d via-purple-d  from-redpink-d" >¡BIENVENID@!</h1>
  <div class="slider-home">
    <app-slider-games [slides]="slides"></app-slider-games>
  </div>

    <div class="containerImages flex flex-row items-center justify-center gap-x-10 ">
      <a [routerLink]="isUserLoggedIn() ? ['/videogames', { id: userId }] : ['/videogames']" >
        <div class="containerImage flex flex-col items-center justify-center mt-16 pb-10">
          <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../../assets/img/logoVideoGames2.png" alt="Videogames image"/>
          <button class="relative inline-flex items-center justify-center w-32 p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <a class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Videogames</a>
          </button>
        </div>
      </a>
      <a [routerLink]="isUserLoggedIn() ? ['/music', { id: userId }] : ['/music']" >
        <div class="containerImage flex flex-col items-center  mt-16  pb-10">
          <img class="w-24 h-24  mb-3 rounded-full shadow-lg" src="../../../assets/img/logoMusic.webp" alt="Musica imagen"/>
          <button class="relative inline-flex items-center justify-center w-28 p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium  text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span  class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Música
            </span>
          </button>
        </div>
      </a>
      <a [routerLink]="isUserLoggedIn() ? ['/Literature', { id: userId }] : ['/Literature']" >
        <div class="containerImage flex flex-col items-center  mt-16  pb-10">
          <img class="w-24 h-24  mb-3 rounded-full shadow-lg" src="../../../assets/img/literature.webp" alt="Literature imagen"/>
          <button class="relative inline-flex items-center justify-center w-32  p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Literatura
            </span>
          </button>

        </div>
      </a>
      <a [routerLink]="isUserLoggedIn() ? ['/cinema', { id: userId }] : ['/cinema']" >
        <div class="containerImage flex flex-col items-center mt-16 pb-10">
          <img class="w-24 h-24  mb-3 rounded-full shadow-lg" src="../../../assets/img/logoMovie2.webp" alt="Videogames image"/>
          <button class="relative inline-flex items-center justify-center w-32  p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Cine
            </span>
          </button>
        </div>
      </a>
    </div>
</body>
