<app-music-update *ngIf="showUpdateModal && currentSong"  [song]="currentSong"></app-music-update>

<body *ngIf="musicDetails$ | async as musicDetails" >
  <div class="containerDetails start-animation ">
    <span class="closeDetails" (click)="closeDetails()"><mat-icon>close</mat-icon></span>
    <span class="updateDetails" *ngIf="isAdmin" (click)="openUpdateDetails()"><mat-icon>edit</mat-icon></span>

    <div class="containerUp">
      <div class="center">
        <img [src]="musicDetails.songImg" alt="Song image" class="album">
      </div>
      <div class="title">
        <marquee behavior="alternative" direction="left"><h1>{{musicDetails.songName}}</h1></marquee>
        <h2>{{musicDetails.singer}}</h2>
        <span><mat-icon>calendar_month</mat-icon>{{musicDetails.releaseDate ? musicDetails.releaseDate: '01/01/2001.'}}</span>
      </div>
    </div>

    <div class="containerAudioPlayer">
      <app-music-audio-player [trackID]="musicDetails.trackID" [song]="currentSong"></app-music-audio-player>
    </div>
    
    <section class="down">
      <div class="containerLyrics">
        <p>{{musicDetails.lyrics ? musicDetails.lyrics: 'No añadido.'}}</p>
      </div>

      <div class="recommended">
        <ul>
          <a [routerLink]="['/music/song-details',song._id]" *ngFor="let song of songs">
            <li>
              <img [src]="song.songImg" alt="Song image" class="album-recommended" >
              <div class="info-recommended">
                <h1>{{song.songName}}</h1>
                <h2>{{song.singer}}</h2>
              </div>
            </li>
          </a>
        </ul>
      </div>
    </section>

    <span class="deleteSong" *ngIf="isAdmin" (click)="deleteSong(musicDetails._id)"><mat-icon>delete</mat-icon></span>
  </div>
</body>
