<app-music-update *ngIf="showUpdateModal && currentSong"  [song]="currentSong"></app-music-update>
<!--  *ngIf="song" [song]="song" -->
<!-- <router-outlet *ngIf="showUpdateModal" ></router-outlet> -->
<body *ngIf="musicDetails$ | async as musicDetails" >
  <div class="containerDetails">
    <span class="closeDetails" (click)="closeDetails()"><mat-icon>close</mat-icon></span>
    <span class="updateDetails" *ngIf="isAdmin" (click)="openUpdateDetails()"><mat-icon>edit</mat-icon></span>

    <div class="containerUp">
      <div class="center">
        <img [src]="musicDetails.songImg" alt="Song image" class="album">
      </div>
      <!-- <div class="center">
        <img class="album" src="https://upload.wikimedia.org/wikipedia/en/f/f3/EVOL_by_Future_cover.jpg">
      </div> -->
      <div class="containerAudioPlayer">
        <app-music-audio-player></app-music-audio-player>
        <!-- <audio class="audio" src="../../../../../assets/audio/Crack Family - Las tetas d (Video Oficial).mp3" controls></audio> -->
      </div>
      <!-- <img [src]="musicDetails.songImg" width="250" height="250" alt="Song image" class="songImage"> -->
    </div>
    <section>
      <div class="containerInformation">
        <h1>{{musicDetails.songName}}</h1>
        <h2>{{musicDetails.singer}}</h2>
        <!-- <p>{{musicDetails.averageRating ? musicDetails.averageRating: 'No añadido.'}}</p> -->
        <!-- <p>{{musicDetails.releaseDate ? musicDetails.releaseDate: 'No añadido.'}}</p> -->

        <p>{{musicDetails.lyrics ? musicDetails.lyrics: 'No añadido.'}}</p>
      </div>


      <div class="containerButtons">
        <button type="button" class="youtube" (click)="openLinkToYoutube()">YouTube</button>
        <button type="button" class="spotify" (click)="openLinkToSpotify()">spotify</button>
        <button type="button" class="dezeer" (click)="openLinkToDeezer()">deezer</button>
      </div>
    </section>


    <span class="deleteSong" *ngIf="isAdmin" (click)="deleteSong(musicDetails._id)"><mat-icon>delete</mat-icon></span>

  </div>

</body>
