<app-music-update *ngIf="showUpdateModal && currentSong"  [song]="currentSong"></app-music-update>

<body *ngIf="musicDetails$ | async as musicDetails" >
  <div class="containerDetails">
    <span class="closeDetails" (click)="closeDetails()"><mat-icon>close</mat-icon></span>
    <span class="updateDetails" *ngIf="isAdmin" (click)="openUpdateDetails()"><mat-icon>edit</mat-icon></span>

    <div class="containerUp">
      <div class="center">
        <img [src]="musicDetails.songImg" alt="Song image" class="album">
      </div>

      <div class="containerAudioPlayer">
        <app-music-audio-player [trackID]="musicDetails.trackID" [song]="currentSong"></app-music-audio-player>
      </div>
    </div>
    <section>
      <div class="containerInformation">
        <h1>{{musicDetails.songName}}</h1>
        <h2>{{musicDetails.singer}}</h2>
        <!-- <p>{{musicDetails.averageRating ? musicDetails.averageRating: 'No añadido.'}}</p> -->
        <!-- <p>{{musicDetails.releaseDate ? musicDetails.releaseDate: 'No añadido.'}}</p> -->

        <p>{{musicDetails.lyrics ? musicDetails.lyrics: 'No añadido.'}}</p>
      </div>

      <div class="containerButtons">
        <button type="button" class="youtube" (click)="openLinkToYoutube()"><img src="../../../../../assets/img/logos/youtube-icon.png" alt="Logo de Youtube"></button>
        <button type="button" class="spotify" (click)="openLinkToSpotify()"><img src="../../../../../assets/img/logos/spotify-icon.png" alt="Logo de Spotify"></button>
        <!-- <button type="button" class="dezeer" (click)="openLinkToDeezer()">Deezer</button> -->
      </div>
    </section>

    <span class="deleteSong" *ngIf="isAdmin" (click)="deleteSong(musicDetails._id)"><mat-icon>delete</mat-icon></span>
  </div>
</body>
