body{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.containerDetails{
  background-color: rgba(0, 0, 0, 0.685);
  width: 80%;
  max-width: 60%;
  height: fit-content;
  max-height: 70%;
  /* overflow-y: scroll; */
  overflow-y:initial;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px;
}
.containerDetails>section{
  display: flex;
  /* justify-content: center; */
  flex-flow: row wrap;
  align-items: center;
}
.containerInformation{
  min-width:50%;
  width: 50%;
  max-width:50%;
}
.updateDetails>mat-icon,
.closeDetails>mat-icon,
.deleteSong>mat-icon{
  cursor: pointer;
  position: absolute;
  color: white;
  font-size: 2rem;
  width: 35px;
  height: 35px;
}
.closeDetails>mat-icon{
  right: 5px;
  top: 5px;
}
.updateDetails>mat-icon{
  left: 5px;
  top: 5px;
  font-size: 1.8rem;
  color: rgba(45, 78, 226, 0.918);
}
.deleteSong>mat-icon{
  display: flex;
  justify-content: right;
  align-items: right;
  color: red;
  /* background-color: yellow; */
  width: 95%;
  position: relative;
  right: 10px;
  bottom: 10px;
}
.deleteSong>mat-icon,
.closeDetails>mat-icon:hover,
.updateDetails>mat-icon:hover{
  transform: scale(1.1);
}

.center {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background: radial-gradient(
    at top left,
    rgba(46, 50, 58, 1) 0%,
    rgba(28, 30, 35, 1) 80%
  );
  margin-top: 20px;
  margin-left: 20px;

}

.containerUp{
  display: flex;
  flex-flow: row wrap;
  justify-content:last baseline;
  gap: 30%;
  align-items: center;
  background: linear-gradient(to bottom, #33383e 0%, #17191d 100%);
  border-radius: 10px 10px 0px 0px;
}
.album {
  border-radius: 50%;
  height: 205px;
  width: 205px;
  object-fit: cover;
}
.center {
  height: 220px;
  width: 220px;
  box-shadow: -15px -10px 16px 5px rgba(255, 255, 255, 0.04),
    10px 10px 16px 8px rgb(24, 26, 29);
  background: radial-gradient(at top left, rgba(28, 30, 35, 1) 0%, #131416 85%);
}

h1,h2{
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 10px;
}
h2{
  font-size: 1.5rem;

}
p{
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.795);
  overflow-y: scroll;
  /* min-width:50%;
  width: 50%
  max-width:50%; */
  height: 250px;
  max-height: 20%;
  text-overflow: ellipsis;
  white-space: pre-line;


}
.containerButtons{
  /* background-color: red; */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 6rem;
  width: min-content;
}
.youtube,
.dezeer,
.spotify {
  margin: 1rem auto;
  border-radius: 50px;
  background-image: linear-gradient(45deg, #000000c5, #0400f0d7);
  padding: 10px 20px;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  transition: background-position 0.5s ease-out, transform 0.5s ease-out;
  position: relative;
  overflow: hidden;
}

.youtube ::before,
.dezeer ::before,
.spotify ::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(27, 26, 99, 0.843));
  transition: transform 0.5s ease-out;
  transform: rotate(45deg);
}
.youtube:hover::before,
.dezeer:hover::before,
.spotify:hover::before {
  transform: translateY(100%) translateX(100%);
}
.youtube:hover,
.dezeer:hover,
.spotify:hover {
  background-image: linear-gradient(-135deg, #000000c5, #0400f0d7);
  transform: scale(1.1);
}
@media screen and (max-width:950px ) {
  body>section{
    justify-content: center;
    flex-flow: row wrap;

  }
}
