<div class="containerPlaylists">
  <header>
    <h4>Guardar canción en...</h4>
    <span class="closeDetails" (click)="closeModalPlaylist()"><mat-icon>close</mat-icon></span>
  </header>

  <form [formGroup]="playlistForm">
    <ul formArrayName="playlists">
      <li *ngFor="let playlist of playlists; let i = index">
        <div class="containerInputAndLabel">
          <input type="checkbox"  [formControlName]="i" (change)="onCheckboxChange(i)">
          <label>{{playlists[i].name}}</label>
        </div>
        <mat-icon>lock</mat-icon>
      </li>
    </ul>
  </form>

  <div class="containerCreatePlaylist">

    <span (click)="togglevisibilityForm()" *ngIf="!visibilityForm"><mat-icon>add</mat-icon><span>Nueva playlist</span></span>

    <form *ngIf="visibilityForm"  [formGroup]="contactForm"  (ngSubmit)="onFormSubmit()">
      <label for="name_playlist">Nombre</label>
      <input type="text" name="name_playlist" id="name_playlist" formControlName="name" placeholder="Nombre de la lista de reproducción...">
      <label for="privacy">Privacidad</label>
      <select name="privacy" id="privacy" formControlName="privacy">
        <option value="publishes">Publica</option>
        <option value="private">Privada</option>
      </select>
      <button type="submit" >
        Crear
      </button>
    </form>

  </div>

</div>
