<body class="bg-[#9193a380] min-h-screen h-auto mt-10">
  <h1 class="text-center font-extrabold text-transparent bg-clip-text  bg-gradient-to-br to-cyan-d via-purple-d  from-redpink-d">¡BIENVENID@!</h1>

  <div class="wrapper">
    <div class="parent" (click)="navigateTo('videogames')">
      <div class="child bg-one">
        <a [routerLink]="isUserLoggedIn() ? ['/videogames', { id: userId }] : ['/videogames']">
          <span class="text-gradient one">Videojuegos</span>
        </a>
      </div>
    </div>
  
    <div class="parent bg-two" (click)="navigateTo('music')">
      <div class="child bg-two">
        <a [routerLink]="['/music']">
          <span class="text-gradient two">Música</span>
        </a>
        
      </div>
    </div>

    <div class="parent big-three" (click)="navigateTo('cine')">
      <div class="child bg-three">
        <a [routerLink]="isUserLoggedIn() ? ['/videogames', { id: userId }] : ['/videogames']">
          <span class="text-gradient three">Proximamente...</span>
        </a>  

      </div>
    </div>
  </div>
</body>

  <!-- <div class="slider-home ">
    <app-slider-games ></app-slider-games>
  </div>

  <div class=" containerImages flex flex-row items-center justify-center gap-x-10 ">
    <a [routerLink]="isUserLoggedIn() ? ['/videogames', { id: userId }] : ['/videogames']" class="hover:transform hover:scale-110" >
      <div class="containerImage flex flex-col items-center justify-center mt-10 pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-2xl" src="../../../assets/img/logos/logoVideoGames.webp" alt="Videogames image"/>
        <button class="relative inline-flex items-center justify-center w-32 p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
          <a class="relative px-5 py-2.5 transition-all ease-in duration-300 bg-white  rounded-md group-hover:bg-opacity-0">
            Videogames</a>
        </button>
      </div>
    </a>
  </div> -->