h1{
  text-align: center;
  padding: 2rem 0 1rem 0;
  font-weight: 900;
  font-size: 3rem;
}
.wrapper{
  text-align: center;
  margin: auto;
  width: 95%;
}
.parent{
  width: 30%;
  margin: 0 20px;
  height: 700px;
  border: 1px solid blue;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.child{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.bg-one{background-image: url('../../../../../assets/img/slider-home/videogames/videogames2.jpg'); background-position: center;}
.bg-two{background-image: url('../../../../../assets/img/slider-home/music/MusicWallpaper.jpg');background-position: center;}
.bg-three{background-image: url('../../../../../assets/img/slider-home/cine/wallppapermovies.jpg');background-position: center;}

span{
  display: none;
  font-size: 35px;
  font-family: sans-serif;  
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
}
.text-gradient {
  font-weight: 800;
  background-clip: text;
  color: transparent;
}
.one{background-image: linear-gradient(to right, #350a58, #100e88); }
.two{background-image: linear-gradient(to right, #350a58, #100e88); }
.three{background-image: linear-gradient(to right, #350a58, #100e88);text-decoration: line-through rgba(14, 4, 39, 0.63);  }


.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover span, .parent:focus span {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52,73,94,0.75);

}
.two-a{
  margin-top:35%;
  font-size: 1.3rem;

}
/* Media Queries */
@media screen and (max-width: 960px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}

.hello {display: none}

.big-three:hover{
  /* opacity: 0.5;  */
  /* pointer-events: none;  */
  animation: none; 
  cursor: not-allowed;
  filter: grayscale(90%);
}