.slider-home{
 width: 100vh;
 height: 55vh;
 margin: auto;
}
@media screen and (max-width: 1050px) {
  .slider-home{
    width: 80vh;
    height: 40vh;
    margin: 0 auto;
  }
  .containerImages {
    margin: auto;
    width: 80%;
  }
}
@media screen and (max-width:768px) {
  .slider-home{
    width: 90%;
    height: 35vh;
    margin: 0 auto;
   }
  .containerImages {
    margin: auto;
    width: 80%;
  }
  .containerImage{
    margin-top: 5vh;
  }
}

@media screen and (max-width:500px) {
  .slider-home{
    width: auto;
    height: 30vh;
    margin: 0 auto;
  }
  .containerImages {
    flex-wrap: wrap;
    width: 90%;
    gap:5%;
  }
  .containerImage{
    padding-bottom: 0px;
  }
  .containerImage>img {
    width: 70px;
    height: 70px;
  }
  .containerImage>button {
    width: fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 350px) {
  .slider-home{
    width: auto;
    height: 30vh;
    margin: 0 auto;
  }
  .containerImages {
    flex-wrap: wrap;
    width: 90%;
    gap:2%;
  }
  .containerImage>img {
    width: 70px;
    height: 70px;
  }
}
