body{
  background-color: rgba(3, 5, 41, 0.925);
  margin: auto;
  height: fit-content;
  z-index: -100;
}
.container{
  margin: auto;
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 6rem;
}

.background-image{
  opacity: 0.6;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 80%;
  object-fit:cover;
  background: center;
  background-size:cover;
  mask-image: linear-gradient(
    rgba(0, 0, 0, 0.8),
    transparent
  );
}
.game-image{
  position: relative;
  top: 0vh;
  object-fit: cover;
  height: 35vh;
  width: 28vh;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}

.active {
  background: rgba(20, 72, 216, 0.651);
  border-radius: 20px;
  padding: 6px;
  transform: scale(1.1);
  border-color: rgba(64, 64, 212, 0.589);
  border-bottom: 2px solid;
}

.game-description,
.game-description > p {
  word-wrap: break-word;
  max-width: 95%;
  min-height: 100px;
  max-height: 700px;
}
.container-up{
  display: flex;
  justify-content: center;
  flex-flow:row wrap-reverse;
  margin-top: 6rem;
}
.container-down{
  width: 100%;
}

.container-more-details{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  gap: 4%;
  width: 100%;
  margin: auto;
}
.container-specifications{
  width: fit-content;
  min-width: fit-content;
  max-width: 35%;
  border-radius: 4px;
  border-top-right-radius: 0px;
  padding: 6px;
  margin-top: 0rem;
  color: rgb(46, 46, 46);
  font-size: medium;
  background-color: rgb(148 163 184 / 0.8);
}
.container-specifications>div>ul>li{
  /* background-color: red; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  max-height: 100px;
  max-width: 400px;
}
.container-trailer {
  z-index: 10;
  width: fit-content;
  margin-top: 2rem;
}
.container-trailer>iframe{
  width: calc(55vh + 2vw);
  height: calc(35vh + 2vw);;

}
