.trailer-field{
  position: relative;
  margin: 1rem 0 0.5rem 0;
}
.container-button{
  display: flex-end;
  align-items: center;
  position: absolute;
  right: 15%;
  bottom: 6%;
}
@media(max-width: 640px ){
  .trailer-field{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
  }
  .trailer-field>label{
    width: 50%;
  }
  .container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
    inset: 0;
  }
}
