/* Initial Style footer */
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image: linear-gradient(45deg, rgb(10, 1, 1), rgba(0, 4, 255, 0.836), rgb(2, 2, 61)) 1;
}

/* Class for hidden the footer*/
.footer-hidden {
  transform: translateY(100%);
}
