@media (max-width:768px) {
    .container-filters{
      bottom: 4rem;
      right: 4.5rem;
    }
  }
  @media (max-width:640px) {
    .container-filters{
      bottom: 4rem;
      left: 5rem;
      height: 70%;
    }
  }
  