body{
  height: fit-content;
  min-height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(3, 6, 43, 0.877),
    rgba(9, 2, 27, 0.979)
  );

  margin: 0;
  padding: 0;

}
body>header{
  margin-bottom: 0px;
  background-position: center;
  object-fit:cover;
  background-size:cover;
  width: 100%;
  height: 80%;
  /* background-image: url("../../../../../assets/img/music/3d-gray.jpg"); */
  z-index: 50;

}
.background-image{
  /* background-image: url("../../../../../assets/img/music/3d-gray.jpg"); */
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  object-fit:cover;
  background: center;
  background-size:cover;
  z-index: -50;
  mask-image: linear-gradient(
    rgba(91, 0, 209, 0.76),
    transparent
  );

}
body>header>h3{
  text-align: center;
  padding-top: 8rem;
  font-size: calc(4rem + 5vw);
  color: blue;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #1922a3, #1582caa9);

}
.search,
section#musicList,
.card>head,
.card>head>div,
.play{
  display: flex;
  justify-content: center;
  align-items: center;
}
.songAndsinger,
.play{
  color: rgb(115, 134, 221);
}


.search{
  padding: 2rem;
}
input{
  width: 30rem;
  height: 4rem;
}
.icon-search{
  width: 80px;
  height: 80px;
  font-size: 80px;
  background-color:rgba(125, 164, 216, 0.767);
  vertical-align: middle;
  border: 1px solid rgba(125, 164, 216, 0.767);
}
.buttonAddSong{
  position: absolute;
  top: 420px;
  left: 100px;
}
section#musicList{
  flex-flow: row wrap;
  margin: 0rem 0rem 0rem 0rem;
  height: fit-content;
  /* background-image: linear-gradient(150deg, #1b238f00, #2c44c900);
  background-color: rgba(6, 6, 53, 0.959); */

}
.container-list{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0rem 2rem;
  align-items: center;
  margin: auto;

}
.container-target{
  width: auto;
  height: auto;
  margin: auto;
}
.card{
  /* border: 1px solid black; */
  border-radius: 10px;
  width: fit-content;
  margin: 2rem 1rem 2rem 1rem;
  text-decoration: none;
}
.card>img{
  min-width: 300px;
  max-width: 300px;
  height: 200px;
}
.card>head{
  justify-content: space-between;
  padding: 0.5rem auto 1rem auto;
  padding: 10px;
  background-image: linear-gradient(150deg, rgba(15, 13, 175, 0.616), #0d102bc4);

}
.card>head>div{
  justify-content: flex-end;
  flex-flow: column wrap;
  align-items: start;
}
.card>head>div>h1,
.card>head>div>h2{
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 11rem;
}
.card>head>div>h1{
  font-size: 1.3rem;
}
.card>head>div>h2{
  font-size: 1rem;
}
.play{
  gap: 10px;
}
.pagination ::ng-deep
.ngx-pagination
.current{
  background: rgba(1, 59, 250, 0.842);
  border-radius: 10px;
  box-shadow: 1px 5px 5px black;
  color: white;

}
.ngx-pagination li.current,
.pagination ::ng-deep .ngx-pagination li a:hover {
  background: rgba(233, 233, 233, 0.411);
  color: black;
  border-radius: 10px;
  box-shadow: 1px 5px 5px black;
}
@media( max-width: 1060px ) {

  .container-list{
    justify-content: center;
  }
}
@media( max-width: 546px ) {
  .container-list{
    width: 95%;
    margin: auto;
    gap: 5rem;
  }
}
@media(max-width:500px) {
  body>h3{
    font-size: 4rem;
  }
  .search{
    padding:0 10px 0 10px;
    margin:0 10px 0 10px;
  }
}
