<router-outlet *ngIf="$songDetails" ></router-outlet>

<img  class="background-image" src="../../../../../assets/img/music/3d-gray.jpg" alt="">
<body>

  <header>

    <h3>Musicdoor</h3>
    <div class="search">
      <input type="text" placeholder="Busca tu tema..." class="rounded-l-md" [(ngModel)]="searchTerm" (input)="onSearchInputChange()" >
      <span ><mat-icon class="icon-search rounded-l-sm">search</mat-icon></span>
    </div>
    <div *ngIf="notResultsOne">
      <app-no-results></app-no-results>
    </div>
  </header>

  <div class="buttonAddSong" *ngIf="isAdmin">
    <app-music-add *ngIf="showButtonAdd"></app-music-add>
  </div>
  
  <app-skeleton-music-home id="musicListSkeleton" *ngIf="isLoading" class="z-50"></app-skeleton-music-home>

  <section id="musicList" *ngIf="!isLoading">
 
    <ul class="container-list">
      <li *ngFor="let song of searchSongs() | paginate: {itemsPerPage:5, currentPage: page} " class="container-target">
        <a   [routerLink]="['song-details',song._id]" class="card" >
          <img [src]="song.songImg" width="250" height="250" alt="Song image" class="rounded-b-none rounded-t-md">
          <head class="rounded-t-none rounded-b-md">
            <div class="songAndsinger">
              <h1>{{song.songName}}</h1><h2>{{song.singer}}</h2>
            </div>

            <button class="play">
              <span>{{song.duration}}</span>
              <mat-icon>play_circle</mat-icon>
            </button>
          </head>
          <!-- <div class="score">{{song.averageRating}}</div> -->
        </a>
      </li>
    </ul>

  </section>
  <div class="containerPagination">
    <pagination-controls class="pagination" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
  </div>

</body>
